a.big-link:hover {
    font-size: 150%;
}

.red {
    color: red;
}

.blue {
    color: blue;
}

#education li.college {
    font-weight: bold;
}

#education li.certificate {
    text-decoration: underline;
}

#schedule table th,
#schedule table td {
    text-align: center;
}

#schedule table tbody tr:nth-child(odd) {
    background-color: lightgrey;
}

#schedule table thead {
    background-color: lightblue;
}

#events li > ol {
    list-style: upper-alpha;
}